<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    Register pre-defined BeanPostProcessors-->
    <context:annotation-config/>

<!--    define component scanning with filters-->
    <context:component-scan base-package="com.student">
        <context:exclude-filter type="assignable" expression="com.student.StudentApplication"/>
        <context:exclude-filter type="regex" expression="com.student.core.*"/>
        <context:exclude-filter type="assignable" expression="com.student.service.StudentServiceTest"/>
    </context:component-scan>


</beans>